/* GENERAL */
* {
	padding: 0;
	margin: 0;
}

.transition {
	-webkit-transition: all 0.5s!important;
    -moz-transition: all 0.5s!important;
    transition: all 0.5s!important;
}

::-webkit-input-placeholder { /* Chrome */
  color: #ccc;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #ccc;
  opacity: 1;
}

.clearfix {
	clear:both;
}

/* HEADER */
div.site-header {
    background-color: black;
    width: 100%;
    height: 100px;

}

div.site-header div.site-header_box {
    position: relative;
    max-width: 1024px;
    height: 100px;
    margin: 0 auto;
}

div.site-header div.site-header_box div.logo-box {
    width: 275px;
    /*display: inline-block;
    vertical-align: text-top;*/
    margin-top: 25px;
    float: left;
}

div.site-header div.site-header_box div.logo-box div.logo-box_text {
	display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

div.site-header div.site-header_box div.logo-box a {
	text-decoration: none;
}

div.site-header div.site-header_box div.logo-box a img {
	height: 50px;
    display: inline-block;
    vertical-align: middle;
}

div.site-header div.site-header_box div.site-header_content {
    display: inline-block;
    float: right;
}

div.site-header div.site-header_box div.site-header_content div.header-content_items {

}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item {
	display: inline-block;
	margin: 0 10px;
	vertical-align: middle;
}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-brands {

}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-brands ul {
	
}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-brands ul li {
	color: white;
    list-style: none;
    display: inline-block;
    line-height: 42px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-brands ul li.raygil {
	    background-image: url(../img/brands/raygil.png);
}
div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-brands ul li.rosca {
	    background-image: url(../img/brands/rosca.png);
}
div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-brands ul li.sima {
	    background-image: url(../img/brands/sima.png);
}
div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-brands ul li.giger {
	    background-image: url(../img/brands/giger.png);
}
div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-brands ul li.merkur {
	    background-image: url(../img/brands/merkur.png);
}
div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-brands ul li.ucc {
	    background-image: url(../img/brands/ucc.png);
}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-social {

}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-social a {
    height: 25px;
    width: 25px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-social a.fb {
    background-image: url(../img/fb-icon.png);
}
div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-social a.in {
    background-image: url(../img/in-icon.png);
}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-search {
	position: relative;
}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-search input[type=search] {
	border: none;
    padding: 7px 20px 7px 15px;
    font-family: 'PT Sans', sans-serif;
    width: 185px;
}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-search:before {
	content: '';
    width: 20px;
    height: 20px;
    display: block;
    background: url(../img/search-icon.png) no-repeat center;
    margin: auto;
    position: absolute;
    right: 3px;
    z-index: 20;
    top: 5px;
    cursor: pointer;
}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-cart {

}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-cart div.item-cart_cart {
    display: inline-block;
    margin: 0 10px;
}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-cart div.item-cart_cart span.cart-total_products {
	background-image: url(../img/cart-icon.png);
    display: inline-block;
    color: #d51217;
    font-family: 'PT Sans', sans-serif;
    padding-left: 25px;
    background-repeat: no-repeat;
    line-height: 25px;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-cart div.item-cart_total {
    display: inline-block;
}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-cart div.item-cart_total span.cart-total_price {
    display: inline-block;
    color: white;
    font-family: 'PT sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links {
	float: right;    
    margin-top: 15px;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_links {
	display: inline-block;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_links ul {

}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_links ul li {
	display: inline-block;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_links ul li:after {
	content: "|";
	color: white;
	font-family: 'PT sans', sans-serif;
    font-weight: lighter;
    font-size: 13px;
}
div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_links ul li:last-child:after {
	content: "";
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_links ul li a {
	display: inline-block;
    color: white;
    text-transform: uppercase;
    font-family: 'PT Sans',sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 5px;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_links ul li a:hover {
	color: red;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_blocks {
	display: inline-block;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_blocks div.links-blocks_block {
	display: inline-block;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    padding-left: 25px;
    margin: 0 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_blocks div.links-blocks_block.first {
    background-image: url(../img/calendar-icon.png);
    margin-right: 5px;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_blocks div.links-blocks_block.second {
    background-image: url(../img/phone-icon.png);
    margin-left: 5px;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_lang {
	display: inline-block;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_lang ul {

}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_lang ul li {
    display: inline-block;
    padding: 0px 5px;
    color: white;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_lang ul li.active {
	background-color: red;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_lang ul li a {
    color: white;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-weight: bold;
}

/* BREADCRUMBS */
div.site-breadcrumbs {

}

div.site-breadcrumbs div.site-breadcrumbs_wrapper {
	max-width: 1024px;
    padding: 15px 0;
    margin: 0 auto;
}

div.site-breadcrumbs div.site-breadcrumbs_wrapper ul {

}

div.site-breadcrumbs div.site-breadcrumbs_wrapper ul li {
	list-style: none;
	display: inline-block;
}

div.site-breadcrumbs div.site-breadcrumbs_wrapper ul li:after {
	content: '/';
	padding: 0 5px;
	font-size: 11px;
}

div.site-breadcrumbs div.site-breadcrumbs_wrapper ul li:last-child:after {
	content: '';
	padding: 0;
}

div.site-breadcrumbs div.site-breadcrumbs_wrapper ul li.active a {
	color: #999999;
    pointer-events: none;
}

div.site-breadcrumbs div.site-breadcrumbs_wrapper ul li a {
	text-decoration: none;
	color: #000000;
	font-family: 'PT sans', sans-serif;
	font-weight: bold;
    font-size: 13px;
}

div.site-breadcrumbs div.site-breadcrumbs_wrapper ul li a:hover {
	color: red;
}

/* NAVIGATION */
div.site-navigation {
    width: 100%;
    position: relative;
}

div.site-navigation div.site-navigation_items {
    width: 100%;
    position: relative;
}

div.site-navigation div.site-navigation_items div.navigation-items_item {
	width: 25%;
    float: left;
    text-align: center;

    height: 250px; /* delete */

    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;    
    position: relative;
    cursor: pointer;
}

div.site-navigation div.site-navigation_items div.navigation-items_item:before {
	content: '';
    width: 85px;
    height: 84px;
    display: block;
    background: url(../img/bes.png) no-repeat center;
    margin: auto;
    position: absolute;
    right: -85px;
    z-index: 20;
    top: 90px;
    transform: translate(-50%);
    -moz-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
}

div.site-navigation div.site-navigation_items div.navigation-items_item:last-child:before {
	display: none;
}

div.site-navigation div.site-navigation_items div.navigation-items_item.espresso {
	background-image: url('../img/espresso.jpg');
}

div.site-navigation div.site-navigation_items div.navigation-items_item.kaffee {
	background-image: url('../img/kaffee.jpg');
}

div.site-navigation div.site-navigation_items div.navigation-items_item.tee {
	background-image: url('../img/tee.jpg');
}

div.site-navigation div.site-navigation_items div.navigation-items_item.zusatz {
	background-image: url('../img/zusatz.jpg');
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    color: white;
    text-shadow: 1px 1px 10px #000;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;    
}

 div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title a {
 	text-decoration: none;
 	color: white;
 }

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_block {
	padding: 15px;
    width: 200px;
    margin: 0 auto;
    position: relative;
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_block.active {
	background-color: red;
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_block:after {
	content: "";
    display: block;
    border-top: 5px solid red;
    position: absolute;
    bottom: -35px;
    height: 15px;
    width: 100%;
    left: 0;
    background-image: url(../img/arrow-bottom.png);
    background-position: bottom center;
    background-size: contain;
    z-index: 5;
    background-repeat: no-repeat;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
}

div.site-navigation div.site-navigation_items div.navigation-items_item:hover div.navigation-item_title div.item-title_block {
	background-color: red;
} 

div.site-navigation div.site-navigation_items div.navigation-items_item:hover div.navigation-item_title div.item-title_block:after,
div.site-navigation div.site-navigation_items div.navigation-items_item:hover div.navigation-item_title div.item-title_dropdown
 {
	opacity: 1;
	visibility: visible;
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown {
	position: absolute;
    z-index: 99;
    width: 226px;
    left: 50%;
    top: 90px;
    border: 2px solid black;
    margin-left: -115px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: url(../img/patern.jpg) repeat center;
    opacity: 0;
    visibility: hidden;
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul {

}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li {
	list-style: none;
    text-align: left;
    padding-left: 70px;
    line-height: 42px;
    background-repeat: no-repeat;
    background-size: 42px;
    background-position: 15px;
}
div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li:hover {
	background-color: red;
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li.raygil {
	background-image: url(../img/brands/raygil-black.png);
}
div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li.raygil:hover {
	background-image: url(../img/brands/raygil.png);
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li.rosca {
	background-image: url(../img/brands/rosca-black.png);
}
div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li.rosca:hover {
	background-image: url(../img/brands/rosca.png);
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li.sima {
	background-image: url(../img/brands/sima-black.png);
}
div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li.sima:hover {
	background-image: url(../img/brands/sima.png);
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li.giger {
	background-image: url(../img/brands/giger-black.png);
}
div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li.giger:hover {
	background-image: url(../img/brands/giger.png);
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li.merkur {
	background-image: url(../img/brands/merkur-black.png);
}
div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li.merkur:hover {
	background-image: url(../img/brands/merkur.png);
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li.ucc {
	background-image: url(../img/brands/ucc-black.png);
}
div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li.ucc:hover {
	background-image: url(../img/brands/ucc.png);
}


div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li a {
	text-decoration: none;
    color: black;
    text-shadow: none;
    font-family: 'PT Sans', sans-serif;
}
div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li:hover a {
	color: white;
}

/* HEADLINE */
div.site-headline {
	text-align: center;
    background: url(../img/patern.jpg) repeat center;
    padding: 65px 0 65px 0;
    position: relative;
    clear:both;
}

div.site-headline:before {
	content: '';
    width: 85px;
    height: 84px;
    display: block;
    background: url(../img/bes.png) no-repeat center;
    margin: auto;
    position: absolute;
    bottom: -40px;
    z-index: 20;
    left: 50%;
    transform: translate(-50%);
    -moz-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
}

div.site-headline div.site-headline_box {

}

div.site-headline div.site-headline_box h1 {
	font-family: 'Sanchez', serif;
    font-weight: lighter;
    font-size: 40px;
    letter-spacing: 1px;
}

/* CONTENT */
div.site-content {
	position: relative;
}

div.site-content div.site-content_wrapper {
	max-width: 1024px;
	position: relative;
	height: 100%;
	margin: 0 auto;
	padding: 25px 0;
}

div.site-content div.site-content_wrapper div.site-content_grid {
    width: 75%;
    float: left;
}

div.site-content div.site-content_wrapper div.site-content_sidebar {
	float: left;
	width: 25%;
}

div.site-content div.site-content_wrapper div.site-content_grid div.content-grid_item {
	width: 30%;
    float: left;
    margin: 0 10px;
}

div.site-content div.site-content_wrapper div.site-content_grid div.content-grid_item div.grid-item_image {

}

div.site-content div.site-content_wrapper div.site-content_grid div.content-grid_item div.grid-item_image img {
	width: 100%;
}

div.site-content div.site-content_wrapper div.site-content_grid div.content-grid_item div.grid-item_info {

}

div.site-content div.site-content_wrapper div.site-content_grid div.content-grid_item div.grid-item_info span {
	display: block;
    padding: 5px 0;
    font-family: 'PT sans', sans-serif;
}

div.site-content div.site-content_wrapper div.site-content_grid div.content-grid_item div.grid-item_info span.item-info_heading a {
	color: #333333;
	text-decoration: none;
}

div.site-content div.site-content_wrapper div.site-content_grid div.content-grid_item div.grid-item_info span.item-info_heading a:hover {
	color: red;
	text-decoration: none;
}

div.site-content div.site-content_wrapper div.site-content_grid div.content-grid_item div.grid-item_info span.item-info_text {
    color: #999;
    font-size: 14px;
    padding-top: 0;
}

div.site-content div.site-content_wrapper div.site-content_grid div.content-grid_item div.grid-item_info div.item-info_price {

}

div.site-content div.site-content_wrapper div.site-content_grid div.content-grid_item div.grid-item_info div.item-info_price span.info-price_cost {
	color: red;
    font-weight: bold;
    display: inline-block;
}

div.site-content div.site-content_wrapper div.site-content_grid div.content-grid_item div.grid-item_info div.item-info_price a.info-price_addtocart {
	display: inline-block;
    background-image: url(../img/cart-icon.png);
    height: 20px;
    background-position: center;
    padding: 0;
	padding-left: 10px;
    width: 20px;
    background-repeat: no-repeat;
}

div.site-content div.site-content_wrapper div.site-content_banner {
	position: absolute;
	top: 50px;
	height: 400px;
	width: 250px!important; /* for jquery-pin-js */
	right: 10px;
	background-image: url('../img/banner-placeholder.png');
	box-shadow: 0px 0px 10px #888;
	background-position: center;
}

div.site-content:before {
	content: '';
    width: 85px;
    height: 84px;
    display: block;
    background: url(../img/bes.png) no-repeat center;
    margin: auto;
    position: absolute;
    bottom: -40px;
    z-index: 20;
    left: 50%;
    transform: translate(-50%);
    -moz-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
}

/* SLIDER */
div.site-slider {
	background-image: url(../img/slider-image.png);
    height: 345px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

div.site-slider div.slider-text {
    padding-top: 80px;
}

div.site-slider div.slider-text h1 {
    font-family: 'Sanchez', serif;
    font-weight: lighter;
    font-size: 40px;
    letter-spacing: 1px;
    color: white;
    width: 750px;
    text-align: center;
    margin: 0 auto;
}

div.site-slider div.slider-text span {
	color: white;
    font-family: 'PT Sans', sans-serif;
    width: 480px;
    margin: 25px auto;
    display: block;
    text-align: center;
}

/* FOOTER */
div.site-footer {
    background: #333333;
}

div.site-footer div.site-footer_box {
	max-width: 1024px;
	margin: 0 auto;
	padding: 25px 0;
}

div.site-footer div.site-footer_box div.site-footer_links {
	width: 100%;
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    text-align: right;
}

div.site-footer div.site-footer_box div.site-footer_links ul {

}

div.site-footer div.site-footer_box div.site-footer_links ul li {
	display: inline-block;
	list-style: none;
	text-align: center;
}

div.site-footer div.site-footer_box div.site-footer_links ul li:after {
	content: "|";
	color: white;
	font-family: 'PT Sans', sans-serif;
	padding: 0 10px;
}

div.site-footer div.site-footer_box div.site-footer_links ul li:last-child:after {
	content: "";
	padding: 0;
}

div.site-footer div.site-footer_box div.site-footer_links ul li a {
    color: white;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

div.site-footer div.site-footer_box div.site-footer_links ul li a:hover {
	color: red;
}

div.site-footer div.site-footer_box div.site-footer_content {
	padding-top: 15px;
}

div.site-footer div.site-footer_box div.site-footer_content ul {
	float: left;
}

div.site-footer div.site-footer_box div.site-footer_content ul li {
	background-repeat: no-repeat;
    list-style: none;
    height: 40px;
    background-size: contain;
    width: 40px;
    display: inline-block;
    background-position: center;
    text-align: right;
    position: relative;
    margin: 0 10px;
}

div.site-footer div.site-footer_box div.site-footer_content ul li:after {
	content: "|";
    font-family: 'PT Sans', sans-serif;
    color: white;
    position: absolute;
    right: -15px;
    top: 10px;
}

div.site-footer div.site-footer_box div.site-footer_content ul li:last-child:after {
	content: "";
	display: none;
}

div.site-footer div.site-footer_box div.site-footer_content ul li.raygil {
	    background-image: url(../img/brands/raygil.png);
}
div.site-footer div.site-footer_box div.site-footer_content ul li.rosca {
	    background-image: url(../img/brands/rosca.png);
}
div.site-footer div.site-footer_box div.site-footer_content ul li.sima {
	    background-image: url(../img/brands/sima.png);
}
div.site-footer div.site-footer_box div.site-footer_content ul li.giger {
	    background-image: url(../img/brands/giger.png);
}
div.site-footer div.site-footer_box div.site-footer_content ul li.merkur {
	    background-image: url(../img/brands/merkur.png);
}
div.site-footer div.site-footer_box div.site-footer_content ul li.ucc {
	    background-image: url(../img/brands/ucc.png);
}

div.site-footer div.site-footer_box div.site-footer_content span {
	float: right;
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-size: 14px;
}

div.site-footer div.site-footer_box div.site-footer_copyright {
    padding: 20px 0;
    color: #888;
    font-weight: bold;
    font-family: 'PT sans', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
}

/* PRODUCT PAGE */
div.content-wrapper_product {
    padding-top: 25px;
}

div.content-wrapper_product div.product-info {

}

div.content-wrapper_product div.product-info div.product-info_image {
    float: left;
    width: 50%;
}

div.content-wrapper_product div.product-info div.product-info_image img {
	height: 100%;
    width: 100%;
}

div.content-wrapper_product div.product-info div.product-info_info {
    float: left;
    width: 50%;
}

div.content-wrapper_product div.product-info div.product-info_info div.product-info_name {
	font-family: 'Sanchez';
    font-size: 32px;
}

div.content-wrapper_product div.product-info div.product-info_info div.product-info_name span.artikel {
    display: block;
    font-size: 13px;
    font-family: 'PT sans', sans-serif;
}

div.content-wrapper_product div.product-info div.product-info_info div.product-info_qty {
    margin: 20px 0;
}

div.content-wrapper_product div.product-info div.product-info_info div.product-info_qty label {
	font-family: 'PT sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

div.content-wrapper_product div.product-info div.product-info_info div.product-info_qty select {
    margin: 0 20px;	
}

div.content-wrapper_product div.product-info div.product-info_info div.product-info_price {

}

div.content-wrapper_product div.product-info div.product-info_info div.product-info_price span.price {
	font-family: 'PT sans', sans-serif;
    color: red;
    font-size: 22px;
    display: block;
}

div.content-wrapper_product div.product-info div.product-info_info div.product-info_price span.text {
    display: block;
    font-size: 14px;
    font-family: 'PT Sans',sans-serif;
    color: #999999;
}

div.content-wrapper_product div.product-info div.product-info_info div.product-info_price a.add-button {
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 10px 25px;
    padding-left: 50px;
    margin: 20px 0;
    display: block;
    width: 50px;
    text-align: center;
    background-image: url(../img/cart-icon-white.png);
    background-repeat: no-repeat;
    background-position: 25px 9px;
	border: 1px solid red;
}

div.content-wrapper_product div.product-info div.product-info_info div.product-info_price a.add-button:hover {
	background-image: url(../img/cart-icon-red.png);
	background-color: white;
	color: red;
}

div.content-wrapper_product div.product-info div.product-info_info div.product-info_text {

}

div.content-wrapper_product div.product-info div.product-info_info div.product-info_text h3 {
	font-size: 16px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
}

div.content-wrapper_product div.product-info div.product-info_info div.product-info_text p {
	font-family: 'PT sans', sans-serif;
    font-size: 14px;
    padding-right: 90px;
    margin: 10px 0;
}

div.content-wrapper_product div.product-info div.product-info_info div.product-info_selection {
    font-family: 'PT sans', sans-serif;
    font-size: 14px;
}

div.content-wrapper_product div.product-info div.product-info_info div.product-info_selection label {
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 5px;
}

div.content-wrapper_product div.product-info div.product-info_info div.product-info_selection h3 {
	font-size: 16px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
}

div.content-wrapper_product div.product-bottom_block {

}

div.content-wrapper_product div.product-bottom_block h2 {
    font-family: 'PT sans', sans-serif;
    font-size: 22px;
    font-weight: lighter;
}

div.content-wrapper_product {

}