<?php
/**
 * Top menu for store
 *
 * @var $block \PLG\CMS\Block\CIBrands
 */
/**
 * @var $block \PLG\CMS\Block\CIBrands
 */

$image = 'category_page_grid';
$_productCollection = $block->getProductCollection();
$_productCollection->load();


$categories = [];
$_categoryCollection = $block->CategoryCollection();
$i =0;
foreach($_categoryCollection as $category) {
    if($category->getLevel() == 3 && $category->getData('plg_is_brand')){
        $categories[$category->getUrlKey()]['name'] = $category->getName();
        $categories[$category->getUrlKey()]['products']=[];
    $i++;
    }
}

$productByBrand = [];
//var_dump(count($_productCollection));
foreach ($_productCollection as $product) {
    $product->getCategoryCollection()->addAttributeToselect('*');
    foreach ($product->getCategoryCollection() as $category) {
        if($category->getLevel() == 3 && isset($categories[$category->getUrlKey()])){
            $categories[$category->getUrlKey()]['products'][$product->getId()] = $product;
        }
    }
}

?>
<ul class="brand-ul">
    <?php foreach($categories as $brandKey=>$brand):?>
    <?php $i = 0?>

    <li >
        <a href="<?=$block->getUrl($brandKey)?>">
            <span class="brand <?php echo $brandKey;?> white" style="display: block; width: 100%; height: 100%;"></span>
        </a>
        <div class="item-brands_popup transition">
            <div class="item-brands_close"></div>
            <div class="popup-list_title">
                <?php echo $brand['name']?>
                <a href="<?=$block->getUrl($brandKey)?>">Alle produkte</a>
            </div>
            <ul class="brands-popup_list">
                <?php foreach ($brand['products'] as $product): ?>
                <? if($i>=4)break; ?>
                <li>
                    <a href="<?php /* @escapeNotVerified */ echo $product->getProductUrl() ?>" style="display: block;">
                        <?php echo $block->getImage($product, $image)->toHtml(); ?>
                    </a>
                    <a class="product-name" href="<?php /* @escapeNotVerified */ echo $product->getProductUrl() ?>">
                        <?php echo $block->stripTags($product->getName(), null, true);?>
                    </a>
                    <div class="product-price"><span><?php /* @escapeNotVerified */ echo $block->getProductPrice($product) ?></span></div>
                </li>
                <?php $i++; ?>
                <?php endforeach; ?>
            </ul>
        </div>
    </li>
    <?php endforeach; ?>
</ul>