<?php
/**
 * Top menu for store
 *
 * @var $block \PLG\CMS\Block\CLBlocks
 */
?>
<a class="fb" href="http://www.facebook.com/ucccoffeeswitzerland?fref=ts"></a>
<a class="in" href="http://www.linkedin.com/company/1467909?trk=tyah&trkInfo=clickedVertical%3Acompany%2Cidx%3A1-1-1%2CtarId%3A1434979664627%2Ctas%3AUCC%20Coffee%20Swi"></a>