<?php
/**
 * Top menu for store
 *
 * @var $block \PLG\CMS\Block\CLBlocks
 */
?>
<div class="links-blocks_block first">
    In 3 Tagen bei Ihnen
</div>
<div class="links-blocks_block second">
    Wir sind für Sie da
</div>