<?php
/**
 * Top menu for store
 *
 * @var $block \PLG\CMS\Block\CLLinks
 */
?>
<ul>
    <?php if(!$block->isLogin()): ?>
        <li>
            <a class="transition" href="<?php echo $block->getUrl('registrieren');?>">
                <?php echo __('Create Account')?>
            </a>
        </li>
        <li>
            <a class="transition" href="<?php echo $block->getCustomerLoginUrl();?>">
                <?php echo __('Sign In')?>
            </a>
        </li>
    <?php else: ?>
        <li>
            <a class="transition" href="<?php echo $block->getUrl('customer/account');?>">
                <?php echo __('Account Dashboard')?>
            </a>
        </li>
        <li>
            <a class="transition" href="<?php echo $block->getCustomerLogoutUrl();?>">
                <?php echo __('Sign Out')?>
            </a>
        </li>
    <?php endif; ?>
</ul>