.item-search .block-search {
     float: none;
    padding-left: 0;
    position: relative;
     width: auto;
    z-index: 4;
}

.block-search .action.search:before {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 32px;
    color: #8f8f8f;
    content: '\e615';
    font-family: 'luma-icons';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.minicart-wrapper .action.showcart {
    margin-top: 10px;
}
.minicart-wrapper .action.showcart:before {
    -webkit-font-smoothing: antialiased;
    font-size: 22px;
    line-height: 25px;
    color: #8f8f8f;
    width: 25px;
    height: 25px;
    content: ' ';/*'\e611';*/
    font-family: 'luma-icons';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(../img/cart-icon.png);
}

.minicart-wrapper .action.showcart.active:before {
    content: ' ';
}

.minicart-wrapper {
    margin-left: 0;
}

.item-brands ul, .item-brands li {
    margin: 0;
}

.custom-slider .owl-carousel .owl-stage-outer{
    padding: 0;
}
.custom-slider .banner-item{
    margin: 0 !important;
}
.custom-slider {
    padding: 0;
}

.block.related  .block-actions {
    display: none;
}


.field.choice.related {
    display: none;
}

.intensitat .slider-tick-container, .intensitat .slider-tick-label-container {
    display: none;
}

