/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Sanchez');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

/* GENERAL */
* {
    padding: 0;
    margin: 0;
}

.transition {
    -webkit-transition: all 0.5s!important;
    -moz-transition: all 0.5s!important;
    transition: all 0.5s!important;
}

::-webkit-input-placeholder { /* Chrome */
    color: #ccc;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
    opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: #ccc;
    opacity: 1;
}

.clearfix {
    clear:both;
}

/* HEADER */
div.site-header {
    background-color: black;
    width: 100%;
    height: 100px;

}

div.site-header div.site-header_box {
    position: relative;
    max-width: 1024px;
    height: 100px;
    margin: 0 auto;
}

div.site-header div.site-header_box div.logo-box {
    width: 275px;
    /*display: inline-block;
    vertical-align: text-top;*/
    margin-top: 25px;
    float: left;
}

div.site-header div.site-header_box div.logo-box div.logo-box_text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

div.site-header div.site-header_box div.logo-box a {
    text-decoration: none;
}

div.site-header div.site-header_box div.logo-box a img {
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}

div.site-header div.site-header_box div.site-header_content {
    display: inline-block;
    float: right;
}

div.site-header div.site-header_box div.site-header_content div.header-content_items {

}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-brands {

}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-brands ul {

}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-brands ul li {
    color: white;
    list-style: none;
    display: inline-block;
    line-height: 42px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: relative;
}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-brands ul li.raygil {
    background-image: url(../img/brands/raygil.png);
}
div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-brands ul li.rosca {
    background-image: url(../img/brands/rosca.png);
}
div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-brands ul li.sima {
    background-image: url(../img/brands/sima.png);
}
div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-brands ul li.giger {
    background-image: url(../img/brands/giger.png);
}
div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-brands ul li.merkur {
    background-image: url(../img/brands/merkur.png);
}
div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-brands ul li.ucc {
    background-image: url(../img/brands/ucc.png);
}

ul li.teekanne {
    background-image: url(../img/brands/teekane-black.png);
}
ul li.teekanne:hover {
    background-image: url(../img/brands/teekane.png);
}

ul li.promotionen {
    background-image: url(../img/brands/promotionen-black.png);
}
ul li.promotionen:hover{
    background-image: url(../img/brands/promotionen.png);
}

div.block.block-dashboard-orders, ul.items.order-links, form.form.form-edit-account, div.block.block-addresses-default, div.table-wrapper.orders-history {
    padding-top: 50px;
}

form.addtocart_form button.tocart.action.custom_add, form.addtocart_form button.tocart.action.custom_add:hover, form.addtocart_form button.tocart.action.custom_add:active, form.addtocart_form button.tocart.action.custom_add:focus {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

div.pages a.page span, div.site-headline_box a, a.order-number, div.block.discount div.title strong, li.opc-progress-bar-item._complete > span, div.block.block-dashboard-info a, div.block.block-dashboard-addresses a, a.action.viewcart, a.action.viewcart span, li.item a.action.multicheckout, div.cart-empty a {
    color: red;
}

div#minicart-content-wrapper a.action.viewcart span > span {
    background-color: red;
    width: 95%;
    display: block;
    margin: 0 auto;
    border: 1px solid red;
    padding: 15px;
    font-family: 'Pt sans', sans-serif;
    color: white;
    font-size: 17px;
}

div#minicart-content-wrapper button.checkout.primary:hover, button[type=button].action.primary.checkout:hover, button[type=submit].action.primary.checkout:hover {
    color: white;
}

div.block.block-dashboard-orders a, div.block.block-dashboard-orders a:visited, form.form.form-edit-account a, form.form.form-edit-account a:visited, div.block.block-addresses-default a, div.block.block-addresses-default a:visited, div.table-wrapper.orders-history a, div.table-wrapper.orders-history a:visited {
    color: red;
}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-social {

}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-social a {
    height: 25px;
    width: 25px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-social a.fb {
    background-image: url(../img/fb-icon.png);
}
div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-social a.in {
    background-image: url(../img/in-icon.png);
}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-search {
    position: relative;
}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-search input#search {
    border-radius: 0;
    border: none;
}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-search input[type=search] {
    border: none;
    padding: 7px 20px 7px 15px;
    font-family: 'PT Sans', sans-serif;
    width: 185px;
}

/*div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-search:before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    background: url(../img/search-icon.png) no-repeat center;
    margin: auto;
    position: absolute;
    right: 3px;
    z-index: 20;
    top: 5px;
    cursor: pointer;
}*/

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-cart {

}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-cart div.item-cart_cart {
    display: inline-block;
    margin: 0 10px;
}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-cart div.item-cart_cart span.cart-total_products {
    background-image: url(../img/cart-icon.png);
    display: inline-block;
    color: #d51217;
    font-family: 'PT Sans', sans-serif;
    padding-left: 25px;
    background-repeat: no-repeat;
    line-height: 25px;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-cart div.item-cart_total {
    display: inline-block;
}

div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-cart div.item-cart_total span.cart-total_price {
    display: inline-block;
    color: white;
    font-family: 'PT sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links {
    float: right;
    margin-top: 15px;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_links {
    display: inline-block;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_links ul {
    margin-bottom: 0;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_links ul li {
    display: inline-block;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_links ul li:after {
    content: "|";
    color: white;
    font-family: 'PT sans', sans-serif;
    font-weight: lighter;
    font-size: 13px;
}
div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_links ul li:last-child:after {
    content: "";
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_links ul li a {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-family: 'PT Sans',sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 5px;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_links ul li a:hover {
    color: red;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_blocks {
    display: inline-block;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_blocks div.links-blocks_block {
    display: inline-block;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    padding-left: 25px;
    margin: 0 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_blocks div.links-blocks_block.first {
    background-image: url(../img/calendar-icon.png);
    margin-right: 5px;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_blocks div.links-blocks_block.second {
    background-image: url(../img/phone-icon.png);
    margin-left: 5px;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_lang {
    display: inline-block;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_lang ul {

}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_lang ul li {
    display: inline-block;
    padding: 0px 5px;
    color: white;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_lang ul li.active {
    background-color: red;
}

div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_lang ul li a {
    color: white;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-weight: bold;
}

/* BREADCRUMBS */
div.site-breadcrumbs {

}

div.site-breadcrumbs div.site-breadcrumbs_wrapper {
    max-width: 1024px;
    padding: 15px 0;
    margin: 0 auto;
}

div.site-breadcrumbs div.site-breadcrumbs_wrapper ul {

}

div.site-breadcrumbs div.site-breadcrumbs_wrapper ul li {
    list-style: none;
    display: inline-block;
}

div.site-breadcrumbs div.site-breadcrumbs_wrapper ul li:after {
    content: '/';
    padding: 0 5px;
    font-size: 11px;
}

div.site-breadcrumbs div.site-breadcrumbs_wrapper ul li:last-child:after {
    content: '';
    padding: 0;
}

div.site-breadcrumbs div.site-breadcrumbs_wrapper ul li.active a {
    color: #999999;
    pointer-events: none;
}

div.site-breadcrumbs div.site-breadcrumbs_wrapper ul li a {
    text-decoration: none;
    color: #000000;
    font-family: 'PT sans', sans-serif;
    font-weight: bold;
    font-size: 13px;
}

div.site-breadcrumbs div.site-breadcrumbs_wrapper ul li a:hover {
    color: red;
}

/* NAVIGATION */
div.site-navigation {
    width: 100%;
    position: relative;
}

div.site-navigation div.site-navigation_items {
    width: 100%;
    position: relative;
}

div.site-navigation div.site-navigation_items div.navigation-items_item {
    width: 25%;
    float: left;
    text-align: center;

    height: 250px; /* delete */

    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: relative;
    cursor: pointer;
}

div.site-navigation div.site-navigation_items div.navigation-items_item:before {
    content: '';
    width: 85px;
    height: 84px;
    display: block;
    background: url(../img/bes.png) no-repeat center;
    margin: auto;
    position: absolute;
    right: -85px;
    z-index: 20;
    top: 90px;
    transform: translate(-50%);
    -moz-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
}

div.site-navigation div.site-navigation_items div.navigation-items_item:last-child:before {
    display: none;
}

div.site-navigation div.site-navigation_items div.navigation-items_item.espresso {
    background-image: url('../img/espresso.jpg');
}

div.site-navigation div.site-navigation_items div.navigation-items_item.kaffee {
    background-image: url('../img/kaffee.jpg');
}

div.site-navigation div.site-navigation_items div.navigation-items_item.tee {
    background-image: url('../img/tee.jpg');
}

div.site-navigation div.site-navigation_items div.navigation-items_item.zusatz {
    background-image: url('../img/zusatz.jpg');
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    color: white;
    text-shadow: 1px 1px 10px #000;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px;
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_block {
    width: 230px;
    margin: 0 auto;
    position: relative;
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_block.active {
    background-color: red;
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_block.dropdown:after {
    content: "";
    display: block;
    border-top: 5px solid red;
    position: absolute;
    bottom: -30px;
    height: 15px;
    width: 100%;
    left: 0;
    background-image: url(../img/arrow-bottom.png);
    background-position: center -1px;
    background-size: contain;
    z-index: 5;
    background-repeat: no-repeat;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
}

.product-info-main .product.attribute.sku strong.type:after {
    content: ':';
}

div.site-navigation div.site-navigation_items div.navigation-items_item:hover div.navigation-item_title div.item-title_block {
    background-color: red;
}

div.site-navigation div.site-navigation_items div.navigation-items_item:hover div.navigation-item_title div.item-title_block:after,
div.site-navigation div.site-navigation_items div.navigation-items_item:hover div.navigation-item_title div.item-title_dropdown
{
    opacity: 1;
    visibility: visible;
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown {
    position: absolute;
    z-index: 99;
    width: 230px;
    left: 50%;
    top: 90px;
    border: 2px solid black;
    margin-left: -115px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: url(../img/patern.jpg) repeat center;
    opacity: 0;
    visibility: hidden;
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul {
    margin-bottom: 0;
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li {
    list-style: none;
    text-align: left;
    padding-left: 70px;
    line-height: 42px;
    background-repeat: no-repeat;
    background-size: 42px;
    background-position: 15px;
}
div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li:hover {
    background-color: red;
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li.raygil-mischungen {
    background-image: url(../img/brands/raygil-black.png);
}
div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li.raygil-mischungen:hover {
    background-image: url(../img/brands/raygil.png);
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li.rosca-mischungen {
    background-image: url(../img/brands/rosca-black.png);
}
div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li.rosca-mischungen:hover {
    background-image: url(../img/brands/rosca.png);
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li.sima-mischungen {
    background-image: url(../img/brands/sima-black.png);
}
div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li.sima-mischungen:hover {
    background-image: url(../img/brands/sima.png);
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li.giger-mischungen {
    background-image: url(../img/brands/giger-black.png);
}
div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li.giger-mischungen:hover {
    background-image: url(../img/brands/giger.png);
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li.merkur-mischungen {
    background-image: url(../img/brands/merkur-black.png);
}
div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li.merkur-mischungen:hover {
    background-image: url(../img/brands/merkur.png);
}

div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li.ucc-mischungen {
    background-image: url(../img/brands/ucc-black.png);
}
div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li.ucc-mischungen:hover {
    background-image: url(../img/brands/ucc.png);
}


div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li a {
    text-decoration: none;
    color: black;
    text-shadow: none;
    font-family: 'PT Sans', sans-serif;
    padding: 5px 0;
}
div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li:hover a {
    color: white;
}

/* HEADLINE */
div.site-headline {
    text-align: center;
    background: url(../img/patern.jpg) repeat center;
    padding: 65px 0 65px 0;
    position: relative;
    clear:both;
}

div.site-headline:before {
    content: '';
    width: 85px;
    height: 84px;
    display: block;
    background: url(../img/bes.png) no-repeat center;
    margin: auto;
    position: absolute;
    bottom: -40px;
    z-index: 20;
    left: 50%;
    transform: translate(-50%);
    -moz-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
}

div.site-headline div.site-headline_box {

}

div.site-headline div.site-headline_box h1 {
    margin-bottom: 0;
}

div.site-headline div.site-headline_box h1 span {
    font-family: 'Sanchez', serif;
    font-weight: lighter;
    font-size: 40px;
    letter-spacing: 1px;
}

/* CONTENT */
div.site-content {
    position: relative;
}

div.site-content div.site-content_wrapper {
    max-width: 1024px;
    position: relative;
    height: 100%;
    margin: 0 auto;
    padding: 50px 20px;
}

.page-layout-2columns-left div.column.main {
    width: 73.166667%;
}

.page-layout-2columns-left div.sidebar-additional {
    width: 26.833333%;
}

div.site-content div.site-content_wrapper div.site-content_grid {
    width: 100%;
    float: left;
}

div.site-content div.site-content_wrapper div.site-content_sidebar {
    /*float: left;*/
    /*width: 25%;*/
    position: relative;
}

div.site-content div.site-content_wrapper div.site-content_grid div.content-grid_item {
    width: 30%;
    float: left;
    margin: 0 10px;
}

div.site-content div.site-content_wrapper div.site-content_grid div.content-grid_item div.grid-item_image {

}

div.site-content div.site-content_wrapper div.site-content_grid div.content-grid_item div.grid-item_image img {
    width: 100%;
}

div.site-content div.site-content_wrapper div.site-content_grid div.content-grid_item div.grid-item_info {

}

div.site-content div.site-content_wrapper div.site-content_grid div.content-grid_item div.grid-item_info span {
    display: block;
    font-family: 'PT sans', sans-serif;
}

div.grid-item_info span.item-info_heading, div.grid-item_info span.item-info_text {
    padding: 5px 0;
}


div.site-content div.site-content_wrapper div.site-content_grid div.content-grid_item div.grid-item_info span.item-info_heading a {
    color: #333333;
    text-decoration: none;
}

div.site-content div.site-content_wrapper div.site-content_grid div.content-grid_item div.grid-item_info span.item-info_heading a:hover {
    color: red;
    text-decoration: none;
}

div.site-content div.site-content_wrapper div.site-content_grid div.content-grid_item div.grid-item_info span.item-info_text {
    color: #999;
    font-size: 14px;
    padding-top: 0;
}

div.site-content div.site-content_wrapper div.site-content_grid div.content-grid_item div.grid-item_info div.item-info_price {

}

div.site-content div.site-content_wrapper div.site-content_grid div.content-grid_item div.grid-item_info div.item-info_price span.info-price_cost {
    color: red;
    font-weight: bold;
    display: inline-block;
}

div.site-content div.site-content_wrapper div.site-content_grid div.content-grid_item div.grid-item_info div.item-info_price a.info-price_addtocart {
    display: inline-block;
    background-image: url(../img/cart-icon.png);
    height: 20px;
    background-position: center;
    padding: 0;
    padding-left: 10px;
    width: 20px;
    background-repeat: no-repeat;
}

button.custom_add.tocart {
    display: inline-block;
    background-image: url(../img/cart-icon.png);
    height: 20px;
    background-position: center;
    padding: 0;
    padding-left: 10px;
    width: 20px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

button.custom_add.tocart:hover, button.custom_add.tocart:focus, button.custom_add.tocart:active {
    display: inline-block;
    background-image: url(../img/cart-icon.png);
    height: 20px;
    background-position: center;
    padding: 0;
    padding-left: 10px;
    width: 20px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    opacity: 0.8;
}

form.addtocart_form {
    display: inline-block;
    vertical-align: super;
    padding: 0;
    margin-top: 10px;
}

div.field.qty {
    display: inline-block;
    margin-right: 10px;
}

.minicart-wrapper .action.showcart span.counter.qty {
    background: transparent;
    height: 25px;
    line-height: 20px;
    color: #d51217;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-weight: bold;
}

div.site-content div.site-content_wrapper div.site-content_banner {
    position: absolute;
    top: 50px;
    height: 400px;
    width: 250px!important; /* for jquery-pin-js */
    /*right: 10px;*/
    background-image: url('../img/banner-placeholder.png');
    box-shadow: 0px 0px 10px #888;
    background-position: center;
}

div.site-content:before {
    content: '';
    width: 85px;
    height: 84px;
    display: block;
    background: url(../img/bes.png) no-repeat center;
    margin: auto;
    position: absolute;
    bottom: -40px;
    z-index: 10020;
    left: 50%;
    transform: translate(-50%);
    -moz-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
}

/* SLIDER */
div.site-slider {
    /*background-image: url(../img/slider-image.png);*/
    /*height: 345px;*/
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

div.site-slider div.slider-text {
    padding-top: 80px;
}

div.site-slider div.slider-text h1 {
    font-family: 'Sanchez', serif;
    font-weight: lighter;
    font-size: 40px;
    letter-spacing: 1px;
    color: white;
    width: 750px;
    text-align: center;
    margin: 0 auto;
}

div.site-slider div.slider-text span {
    color: white;
    font-family: 'PT Sans', sans-serif;
    width: 480px;
    margin: 25px auto;
    display: block;
    text-align: center;
}

.owl-theme .owl-dots div.owl-dot span {
    background: white;
    width: 5px;
    height: 5px;
}

.owl-theme .owl-dots div.owl-dot.active span {
    background: red;
}

.owl-carousel .banner-item .content_slider span.banner-title {
    font-family: 'Sanchez', serif;
    font-weight: lighter;
    font-size: 40px;
    letter-spacing: 1px;
    text-transform: none;
    width: 55%;
    margin: 0 auto;
    display: block;
}

/* FOOTER */
div.site-footer {
    background: #333333;
}

div.site-footer div.site-footer_box {
    max-width: 1024px;
    margin: 0 auto;
    padding: 25px 0;
}

div.site-footer div.site-footer_box div.site-footer_links {
    width: 100%;
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    text-align: right;
}

div.site-footer div.site-footer_box div.site-footer_links ul {
    margin-bottom: 0;
}

div.site-footer div.site-footer_box div.site-footer_links ul li {
    display: inline-block;
    list-style: none;
    text-align: center;
}

div.site-footer div.site-footer_box div.site-footer_links ul li:after {
    content: "|";
    color: white;
    font-family: 'PT Sans', sans-serif;
    padding: 0 10px;
    display: inline-block;
}

div.site-footer div.site-footer_box div.site-footer_links ul li:last-child:after {
    content: "";
    padding: 0;
}

div.site-footer div.site-footer_box div.site-footer_links ul li a {
    color: white;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

div.site-footer div.site-footer_box div.site-footer_links ul li a:hover {
    color: red;
}

div.site-footer div.site-footer_box div.site-footer_content {
    padding-top: 15px;
}

div.site-footer div.site-footer_box div.site-footer_content ul {
    float: left;
}

div.site-footer div.site-footer_box div.site-footer_content ul li {
    background-repeat: no-repeat;
    list-style: none;
    height: 40px;
    background-size: contain;
    width: 40px;
    display: inline-block;
    background-position: center;
    text-align: right;
    position: relative;
    margin: 0 10px;
}

div.site-footer div.site-footer_box div.site-footer_content ul li:after {
    content: "|";
    font-family: 'PT Sans', sans-serif;
    color: white;
    position: absolute;
    right: -15px;
    top: 10px;
}

div.site-footer div.site-footer_box div.site-footer_content ul li:last-child:after {
    content: "";
    display: none;
}

div.site-footer div.site-footer_box div.site-footer_content ul li.raygil {
    background-image: url(../img/brands/raygil.png);
}
div.site-footer div.site-footer_box div.site-footer_content ul li.rosca {
    background-image: url(../img/brands/rosca.png);
}
div.site-footer div.site-footer_box div.site-footer_content ul li.sima {
    background-image: url(../img/brands/sima.png);
}
div.site-footer div.site-footer_box div.site-footer_content ul li.giger {
    background-image: url(../img/brands/giger.png);
}
div.site-footer div.site-footer_box div.site-footer_content ul li.merkur {
    background-image: url(../img/brands/merkur.png);
}
div.site-footer div.site-footer_box div.site-footer_content ul li.ucc {
    background-image: url(../img/brands/ucc.png);
}

div.site-footer div.site-footer_box div.site-footer_content span {
    float: right;
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-size: 14px;
}

div.site-footer div.site-footer_box div.site-footer_copyright {
    padding: 20px 0;
    color: #888;
    font-weight: bold;
    font-family: 'PT sans', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
}

/* PRODUCT PAGE */
div.content-wrapper_product {
    padding-top: 25px;
}

div.product-info_image {
    float: left;
    width: 50%;
    position: relative;
}

div.product-info_image img {
    height: 100%;
    width: 100%;
}

div.product-info-main {
    /*float: left;*/
    width: 50%;
}

 div.product-info-main div.product-info_name {
	font-family: 'Sanchez';
    font-size: 32px;
}

div.product-info-main div.product-info_name .artikel {
    display: block;
    font-size: 13px;
    font-family: 'PT sans', sans-serif;
}

div.product-info-main div.product-info_qty {
    margin: 20px 0;
}

div.product-info-main div.product-info_qty label {
	font-family: 'PT sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

div.product-info-main div.product-info_qty select {
    margin: 0 20px;	
}

 div.product-info-main div.product-info_price {

}

div.product-info-main div.product-info_price span.price {
    font-family: 'PT sans', sans-serif;
    color: red;
    font-size: 25px;
    display: block;
    margin-top: 15px;
}

div.product-info-main div.product-info_price span.text {
    display: block;
    font-size: 13px;
    line-height: 6px;
    font-family: 'PT Sans',sans-serif;
    color: #999999;
}

div.swatch-opt {
    margin: 0;
}

div.swatch-attribute.intensitat {
    margin-top: 20px;
}

div.swatch-attribute.inhalt span.swatch-attribute-label, div.swatch-attribute.inhalt div.swatch-attribute-options {
    display: inline-block;
}

div.swatch-attribute.inhalt span.swatch-attribute-label:after {
    content: ':';
}

.box-tocart button.action.tocart {
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 10px 25px;
    padding-left: 50px;
    border-radius: 0;
    margin: 20px 0;
    font-size: 18px;
    display: block;
    width: 135px;
    font-weight: lighter;
    text-align: center;
    background-image: url(../img/cart-icon-white.png);
    background-repeat: no-repeat;
    background-position: 25px 9px;
    border: 1px solid red;
}

div.site-content_banner a {
    position: absolute;
    height: 100%;
    width: 100%;
}

.box-tocart button.action.tocart:hover {
    background-image: url(../img/cart-icon-red.png);
    background-color: white;
    color: red;
}

div.product-info-main div.product-info_price a.add-button {
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 10px 25px;
    /*padding-left: 50px;*/
    margin: 20px 0;
    display: inline-block;
    /*width: 50px;*/
    text-align: center;
    /*background-image: url(../img/cart-icon-white.png);
    background-repeat: no-repeat;*/
    /*background-position: 25px 9px;*/
    border: 1px solid red;
}

div.product-info-main div.product-info_price a.add-button:hover {
	/*background-image: url(../img/cart-icon-red.png);*/
	background-color: white;
	color: red;
}

div.product-info-main div.product-info_text {
    margin: 10px 0;
}

form.form label {
    font-size: 15px;
    padding-left: 0;
    font-family: 'PT sans', sans-serif;
    font-weight: 700;
    line-height: 1;
    color: black;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

form.form.contact div.field {
    margin: 0 0 20px;
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-right: 20px;
}

form.form.contact {
    padding-top: 25px;
    position: relative;
}

form.form.contact div.field.note {
    position: absolute;
    left: 50%;
    margin-left: -25%;
    top: 0;
}

form.form button.action, a.action.primary, button.action, button.primary, button.action.primary, button.action.primary:active, button.action.primary:focus {
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 10px 25px;
    margin: 20px 0;
    display: inline-block;
    text-align: center;
    border: 1px solid red;
    border-radius: 0;
    font-weight: lighter;
}

div#minicart-content-wrapper button.checkout {
    background-color: red;
    border-color: red;
    font-family: 'PT Sans', sans-serif;
}

form.form button.action:hover, a.action.primary:hover, button.action:hover, button.primary:hover, button.action.primary:hover {
    background-color: white;
    border: 1px solid red;
    color: red;
}

div.swatch-attribute.rostgrad div.swatch-option.text {
    line-height: 12px;
}

/*#mini-cart input.item-qty {
    display: none;
}*/

.minicart-items strong.product-item-name a {
    color: #333333;
}

div.site-content div.site-content_wrapper div.site-content_grid div.content-grid_item div.item-info_price span.select2 {
    display: inline-block;
}

select.select2-hidden-accessible {
    display: inline-block;
}

li.opc-progress-bar-item._active > span:before, li.opc-progress-bar-item._active:before {
    background: red;
}

div.product-info-main div.product-info_text h3 {
	font-size: 16px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
}

div.product-info-main div.product-info_text p, div.value[itemprop=herkunft]{
    font-family: 'PT sans', sans-serif;
    font-size: 14px;
    padding-right: 5px;
    margin: 10px 0;
}

div.product-info-main div.product-info_selection {
    font-family: 'PT sans', sans-serif;
    font-size: 14px;
}

div.product-info-main div.product-info_selection label {
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 5px;
}

div.product-info-main div.product-info_selection h3 {
	font-size: 16px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
}

div.content-wrapper_product div.product-bottom_block {

}

div.content-wrapper_product div.product-bottom_block h2 {
    font-family: 'PT sans', sans-serif;
    font-size: 22px;
    font-weight: lighter;
}

div.content-wrapper_product {

}

.p_slider-value {
    display: inline-block;
    margin-left: 20px;
}

div.slider-track, div.slider-track:hover {
    cursor: default;
}

div.slider-selection.tick-slider-selection {
    background-image: linear-gradient(to bottom,#d70000 0,#ff5100 100%);
}

div.p_slider-value {
    color: #f23700;
    font-family: 'Sanchez', sans-serif;
    font-weight: bold;
}

div.swatch-option:not(.disabled):hover {
    outline: 1px solid red;
    border: 1px solid red;
}

div.site-header div.site-header_box div.item-brands_popup {
    opacity: 0;
    visibility: hidden;

    width: 600px;
    background: white;
    position: absolute;
    z-index: 99;
    top: 65px;
    height: 285px;
    padding: 10px 25px;
    box-shadow: 1px 2px 10px #535353;
    left: -20px;
}

div.site-header div.site-header_box div.item-brands_popup:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    position: absolute;
    top: -15px;;
}

div.site-header div.site-header_box div.item-brands_popup div.item-brands_close {
    width: 11px;
    height: 11px;
    position: absolute;
    right: 10px;
    background: url(../img/close-icon.png);
}

div.site-header div.site-header_box div.item-brands_popup ul.bxslider.brands-popup_list {

}

div.site-header div.site-header_box div.item-brands_popup div.popup-list_title {
    color: black;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    line-height: 30px;
}

div.site-header div.site-header_box div.item-brands_popup div.popup-list_title a {
    color: red;
    font-size: 14px;
    padding-left: 15px;
}

div.site-header div.site-header_box div.item-brands_popup ul.brands-popup_list li {
    height: 100%!important;
    width: 25%!important;
    border: none;
    display: block!important;
    float: left;
}

div.site-header div.site-header_box div.item-brands_popup ul.brands-popup_list li img {

}

div.site-header div.site-header_box div.item-brands_popup ul.brands-popup_list li .product-name {
    color: black;
    font-size: 15px;
    line-height: 18px;
    font-family: 'PT Sans',sans-serif;
    display: block;
}

div.site-header div.site-header_box div.item-brands_popup ul.brands-popup_list li div.product-price {
    color: red;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    font-family: 'PT Sans',sans-serif;
}

div.site-content div.site-content_wrapper div.site-content_grid div.owl-item div.content-grid_item {
    width: 100%;
}

div.site-content div.site-content_wrapper div.site-content_grid div.owl-item div.content-grid_item span.item-info_text {
    font-size: 12px;
}

.owl-theme .owl-controls .owl-nav [class*=owl-].owl-prev:before, .owl-theme .owl-controls .owl-nav [class*=owl-].owl-prev:after, .owl-theme .owl-controls .owl-nav [class*=owl-].owl-next:before, .owl-theme .owl-controls .owl-nav [class*=owl-].owl-next:after {
    border-color: red!important;
}

div.products.wrapper div.owl-dots {
    display: none!important;
}

.site-footer_content .item-brands_popup {
    display: none;
}

.raygil-mischungen {
    background-image: url(../img/brands/raygil-black.png);
}
.hover.raygil-mischungen:hover {
    background-image: url(../img/brands/raygil.png);
}

.rosca-mischungen {
    background-image: url(../img/brands/rosca-black.png);
}
.hover.rosca-mischungen:hover {
    background-image: url(../img/brands/rosca.png);
}

.sima-mischungen {
    background-image: url(../img/brands/sima-black.png);
}
.hover.sima-mischungen:hover {
    background-image: url(../img/brands/sima.png);
}

.giger-mischungen {
    background-image: url(../img/brands/giger-black.png);
}
.hover.giger-mischungen:hover {
    background-image: url(../img/brands/giger.png);
}

.merkur-mischungen {
    background-image: url(../img/brands/merkur-black.png);
}
.hover.merkur-mischungen:hover {
    background-image: url(../img/brands/merkur.png);
}

.ucc-mischungen {
    background-image: url(../img/brands/ucc-black.png);
}
.hover.ucc-mischungen:hover {
    background-image: url(../img/brands/ucc.png);
}



.white.raygil-mischungen {
    background-image: url(../img/brands/raygil.png);
}
.white.hover.raygil-mischungen:hover {
    background-image: url(../img/brands/raygil-black.png);
}

.white.rosca-mischungen {
    background-image: url(../img/brands/rosca.png);
}
.white.hover.rosca-mischungen:hover {
    background-image: url(../img/brands/rosca-black.png);
}

.white.sima-mischungen {
    background-image: url(../img/brands/sima.png);
}
.white.hover.sima-mischungen:hover {
    background-image: url(../img/brands/sima-black.png);
}

.white.giger-mischungen {
    background-image: url(../img/brands/giger.png);
}
.hover.giger-mischungen:hover {
    background-image: url(../img/brands/giger-black.png);
}

.white.merkur-mischungen {
    background-image: url(../img/brands/merkur.png);
}
.white.hover.merkur-mischungen:hover {
    background-image: url(../img/brands/merkur-black.png);
}

.white.ucc-mischungen {
    background-image: url(../img/brands/ucc.png);
}
.white.hover.ucc-mischungen:hover {
    background-image: url(../img/brands/ucc-black.png);
}

.bx-wrapper {
    max-width: inherit !important;
}

.brand {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.header-content_items ul.brand-ul > li > a {
    pointer-events: none;
}

#mob-menu {
    display: none;
}

div.opc-wrapper .shipping-address-item.selected-item {
    border-color: red;
}

div.opc-wrapper .shipping-address-item.selected-item:after {
    background: red;
}

th.mark {
    background-color: #f5f5f5!important;
}

th.mark label {
    coor: #f5f5f5!important;
}

button.checkout {
    background: red!important;
    border-color: red!important;
}

tr.item-info td.subtotal {
    width: 100%!important;
    float: left!important;
}

tr.item-info td.qty, tr.item-info td.price {
    width: 50%!important;
}

div.cart.table-wrapper div.actions-toolbar {
    min-height: 35px!important;
}

.totals.shipping .mark .label {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #000;
}
.totals.shipping .mark .value {
    display: none;
}

/* DESKTOP */
@media (min-width: 768px) {
    div.site-header div.site-header_box div.site-header_content {
        display: inline-block!important;
    }
}

/* LAPTOP */

@media (min-width: 1024px) and (max-width: 1440px) {
    div.site-header div.site-header_box div.logo-box {
        width: 260px;
        margin-top: 25px;
    }

    div.site-header div.site-header_box div.logo-box div.logo-box_text {
        font-size: 14px;
        margin-left: 10px;
    }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
    div.site-header div.site-header_box li > div.item-brands_popup:before {
        left: 40%;
    }

    div.site-header div.site-header_box li > div.item-brands_popup {
        left: -235px;
    }

    div.site-header div.site-header_box li:nth-child(1) > div.item-brands_popup, div.site-header div.site-header_box li:nth-child(2) > div.item-brands_popup, div.site-header div.site-header_box li:nth-child(3) > div.item-brands_popup {
        left: -85px;
    }

    div.site-header div.site-header_box li:nth-child(1) > div.item-brands_popup:before, div.site-header div.site-header_box li:nth-child(2) > div.item-brands_popup:before, div.site-header div.site-header_box li:nth-child(3) > div.item-brands_popup:before {
        left: 15%;
    }

    div.site-content div.site-content_wrapper div.site-content_sidebar {
        display: none;
    }

    div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: white;
        text-shadow: 1px 1px 10px #000;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }

    div.site-navigation div.site-navigation_items div.navigation-items_item:before {
        content: '';
        width: 45px;
        height: 45px;
        display: block;
        /* background-size: contain; */
        background: url(../img/bes.png) no-repeat center;
        background-size: contain;
        margin: auto;
        position: absolute;
        right: -50px;
        z-index: 20;
        top: 50px;
        transform: translate(-50%);
        -moz-transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -o-transform: translate(-50%);
        -ms-transform: translate(-50%);
    }

    div.site-header div.site-header_box div.logo-box div.logo-box_text {
        font-size: 13px;
        margin-left: 0;
    }

    div.site-header div.site-header_box div.logo-box {
        width: 135px;
        margin-top: 15px;
        margin-left: 15px;
        float: left;
    }

    div.site-breadcrumbs div.site-breadcrumbs_wrapper ul {
        padding-left: 15px;
    }

    div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown ul li {
        list-style: none;
        text-align: left;
        padding-left: 58px;
        line-height: 38px;
        background-repeat: no-repeat;
        background-size: 42px;
        background-position: 10px;
    }

    div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_dropdown {
        width: 193px;
        left: 115px;
    }

    div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title div.item-title_block {
        width: 100%;
    }

    div.site-navigation div.site-navigation_items div.navigation-items_item {
        height: 150px;
    }

    div.site-headline {
        padding-top: 35px;
    }

    .page-layout-2columns-left div.column.main {
        width: 100%;
        padding-left: 35px;
    }

    .owl-carousel .banner-item .content_slider .banner-description {
        width: 50%;
        font-size: 10px;
        clear: both;
        display: block;
        text-align: center;
        padding: 5px 0;
        margin: 0 auto;
    }

    .owl-carousel .banner-item .content_slider span.banner-title {
        font-size: 18px;
        width: 55%;
    }

    .owl-theme div.owl-dots {
        bottom: 5px;
    }

    div.site-footer div.site-footer_box div.site-footer_links ul, div.site-footer div.site-footer_box div.site-footer_content span {
        padding-right: 15px;
    }

    div.site-footer div.site-footer_box div.site-footer_copyright, div.site-footer div.site-footer_box div.site-footer_content ul {
        padding-left: 15px;
    }

    div.site-content:before, div.site-headline:before {
        width: 45px;
        height: 45px;
        bottom: -20px;
        background-size: contain!important;
    }
}

@media (min-width: 535px) and (max-width: 767px) {
    div.page-wrapper div.site-navigation div.site-navigation_items div.navigation-items_item {
        width: 50%;
        float: left;
        display: inline-block;
    }

    div.page-wrapper div.site-navigation div.site-navigation_items div.navigation-items_item:before {
        content: '';
        width: 55px;
        height: 55px;
        display: block;
        background: url(../img/bes.png) no-repeat center;
        margin: auto;
        background-size: contain;
        position: absolute;
        right: -60px;
        z-index: 20;
        top: 90px;
        transform: translate(-50%);
        -moz-transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -o-transform: translate(-50%);
        -ms-transform: translate(-50%);
    }

    div.page-wrapper div.site-navigation div.site-navigation_items div.navigation-items_item:nth-child(2):before, div.page-wrapper div.site-navigation div.site-navigation_items div.navigation-items_item:nth-child(4):before {
        display: none;
    }
}

/* MOBILE */
@media (min-width: 320px) and (max-width: 767px) {
    div.opc-estimated-wrapper {
        background: white;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        margin: 15px 0;
        padding: 18px 15px;
    }

    div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-brands {
        display: none;
    }

    div.site-header div.site-header_box div.site-header_content {
        position: absolute;
        background-color: #333;
        width: 290px;
        top: 99px;
        z-index: 999;
        right: 0;
        box-shadow: -5px 6px 10px #222;
        display: none;
    }

    div.site-content div.site-content_wrapper div.site-content_sidebar {
        display: none;
    }

    div.site-navigation div.site-navigation_items div.navigation-items_item:before {
        display: none;
    }

    div.site-navigation div.site-navigation_items div.navigation-items_item div.navigation-item_title {
        position: absolute;
        bottom: 15px;
        left: 0;
        width: 100%;
        color: white;
        text-shadow: 1px 1px 10px #000;
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        z-index: 21;
    }

    div.site-navigation div.site-navigation_items div.navigation-items_item {
        width: 100%;
        float: none;
        display: block;
        text-align: center;
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom center;
        position: relative;
        cursor: pointer;
        border-bottom: 2px solid red;
    }

    div.site-header div.site-header_box div.logo-box {
        width: 45%;
        margin-top: 15px;
        margin-left: 10px;
        float: left;
        text-align: center;
    }

    div.site-header div.site-header_box div.logo-box div.logo-box_text {
        display: block;
        vertical-align: middle;
        margin-left: 0;
        color: white;
        font-family: 'PT Sans', sans-serif;
    }

    div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-search input#search {
        left: 0;
        width: 100%;
        margin: 0;
    }

    div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-social {
        display: inline-block;
        width: 20%;
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 15px;
        vertical-align: text-top;
    }

    div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-search {
        position: relative;
        width: 70%;
        margin: 0;
        display: inline-block;
    }

    .block-search label.label {
        position: absolute;
        right: -10px;
        z-index: 99;
        top: 0;
    }

    .block-search div.control {
        border-top: none;
        clear: both;
        margin: 0;
        padding: 0;
    }

    div.site-header div.site-header_box div.site-header_content div.header-content_items div.item-cart {
        float: right;
    }

    div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_links {
        display: block;
        text-align: center;
    }

    div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_links ul li a, div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_links ul li:after {
        font-size: 17px;
    }

    div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_blocks {
        display: block;
        text-align: center;
    }

    div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_blocks div.links-blocks_block {
        display: inline-block;
        color: white;
        font-family: 'PT Sans', sans-serif;
        font-size: 17px;
        padding-left: 30px;
        margin: 10px 15px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center left;
    }

    div.site-header div.site-header_box div.site-header_content div.header-content_links div.content-links_blocks div.links-blocks_block.second {
        margin-bottom: 25px;
    }

    a:focus {
        outline: none;
    }

    #mob-menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 30px;
        background-image: url(https://www.dynomighty.com/images/mobile/mob-nav-grey-2.svg);
        width: 40px;
        height: 40px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }

    div.site-breadcrumbs div.site-breadcrumbs_wrapper ul {
        padding-left: 10px;
    }

    div.site-headline {
        padding: 35px 0 65px 0;
    }

    div.site-content div.site-content_wrapper div.site-content_grid div.content-grid_item {
        width: 100%;
        float: none;
        margin: 0 auto;
        text-align: center;
    }

    div.product-info-main {
        order: 2;
        width: 100%;
    }

    div.product-info_image {
        order: 1;
        width: 100%;
    }

    div.site-content:before, div.owl-theme div.owl-dots, div.content_slider {
        display: none;
    }

    div.site-footer div.site-footer_box div.site-footer_links {
        text-align: center;
    }

    div.site-footer div.site-footer_box div.site-footer_content ul li {
        height: 30px;
        width: 30px;
    }

    div.site-footer div.site-footer_box div.site-footer_content span {
        padding-left: 10px;
        float: left;
    }

    div.site-footer div.site-footer_box div.site-footer_copyright {
        padding-left: 10px;
    }

    div.block-collapsible-nav {
        position: relative;
    }

    div.block.block-dashboard-orders {
        padding-top: 50px;
    }

    body.customer-account-login div.site-navigation, body.checkout-cart-index div.site-navigation, body.customer-account-index div.site-navigation, body.page-layout-checkout div.site-navigation {
        display: none;
    }

    body.customer-account-index div.site-content_wrapper {
        padding: 0;
        margin-top: -40px;
    }

    body.customer-account-index div.block-dashboard-orders, div.block-dashboard-info, div.block-dashboard-addresses{
        padding-left: 20px;
        padding-right: 20px;
    }

}