<?php
/**
 * Solwin Infotech
 * Solwin Contact Form Widget Extension
 *
 * @category   Solwin
 * @package    Solwin_Contactwidget
 * @copyright  Copyright © 2006-2016 Solwin (https://www.solwininfotech.com)
 * @license    https://www.solwininfotech.com/magento-extension-license/ 
 */
$widgetEnable = $this->getConfigValue('contactwidget_section/general/enable');
$captchaSitekey = $this->getConfigValue('contactwidget_section/recaptcha/recaptcha_sitekey');
$captchaTheme = $this->getConfigValue('contactwidget_section/recaptcha/recaptcha_theme');
$formActionUrl = $this->getFormActionUrl();
$helper = $this->helper('Solwin\Contactwidget\Helper\Data');
$currPageUrl = $helper->getCurrentUrls();
?>
<?php if($widgetEnable){?>
    </p>
    <div id="plg-hide" style="text-align: center">
        <a href="http://genusswelt.ch/#page-5" class="primary action button-form_select" target="_blank">Privatkunde</a>
        <button class="primary action formToggle button-form_select" data-target="#contact-form" data-plg-toggle="true" data-target-hide="true">Geschäftskunde</button>
    </div>
<form class="form contact" action="<?php echo $formActionUrl;?>" style="display: none;" id="contact-form" method="post" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>" data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
        <legend class="legend"><span><?php /* @escapeNotVerified */ echo $this->getData('cc_title') ?></span></legend><br />
        <div class="field note no-label"><?php /* @escapeNotVerified */ echo $this->getData('cc_content') ?></div>

        <div class="field firma required">
            <label class="label" for="firma"><span><?php /* @escapeNotVerified */ echo __('Company') ?></span></label>
            <div class="control">
                <input name="firma" id="firma" title="<?php /* @escapeNotVerified */ echo __('Company') ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field name required">
            <label class="label" for="name"><span><?php /* @escapeNotVerified */ echo __('First Name') ?></span></label>
            <div class="control">
                <input name="name" id="name" title="<?php /* @escapeNotVerified */ echo __('First Name') ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field last_name required">
            <label class="label" for="last_name"><span><?php /* @escapeNotVerified */ echo __('Last Name') ?></span></label>
            <div class="control">
                <input name="last_name" id="last_name" title="<?php /* @escapeNotVerified */ echo __('Last Name') ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>

        <h2><? echo __('Shipping Address')?></h2>
        <div class="field address required">
            <label class="label" for="address"><span><?php /* @escapeNotVerified */ echo __('Street') ?></span></label>
            <div class="control">
                <input name="address" id="address" title="<?php /* @escapeNotVerified */ echo __('Street') ?>" class="input-text" type="email" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field postcode required">
            <label class="label" for="postcode"><span><?php /* @escapeNotVerified */ echo __('ZIP') ?></span></label>
            <div class="control">
                <input name="postcode" id="postcode" title="<?php /* @escapeNotVerified */ echo __('ZIP') ?>" class="input-text" type="email" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field ort required">
            <label class="label" for="ort"><span><?php /* @escapeNotVerified */ echo __('Location') ?></span></label>
            <div class="control">
                <input name="ort" id="ort" title="<?php /* @escapeNotVerified */ echo __('Location') ?>" class="input-text" type="email" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field telephone required">
            <label class="label" for="telephone"><span><?php /* @escapeNotVerified */ echo __('Phone Number') ?></span></label>
            <div class="control">
                <input name="telephone" id="telephone" title="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>" value="" class="input-text" type="text" data-validate="{required:true}" />
            </div>
        </div>
        <div class="field email required">
            <label class="label" for="email"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
            <div class="control">
                <input name="email" id="email" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
            </div>
        </div>
        <h2><? echo __('Billing Address')?></h2>
        <div class="field ad_firma required">
            <label class="label" for="ad_firma"><span><?php /* @escapeNotVerified */ echo __('Company') ?></span></label>
            <div class="control">
                <input name="ad_firma" id="ad_firma" title="<?php /* @escapeNotVerified */ echo __('Company') ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field ad_name required">
            <label class="label" for="ad_name"><span><?php /* @escapeNotVerified */ echo __('First Name') ?></span></label>
            <div class="control">
                <input name="ad_name" id="ad_name" title="<?php /* @escapeNotVerified */ echo __('First Name') ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field ad_last_name required">
            <label class="ad_label" for="ad_last_name"><span><?php /* @escapeNotVerified */ echo __('Last Name') ?></span></label>
            <div class="control">
                <input name="ad_last_name" id="ad_last_name" title="<?php /* @escapeNotVerified */ echo __('Last Name') ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field ad_address required">
            <label class="label" for="ad_address"><span><?php /* @escapeNotVerified */ echo __('Street') ?></span></label>
            <div class="control">
                <input name="ad_address" id="ad_address" title="<?php /* @escapeNotVerified */ echo __('Street') ?>" class="input-text" type="email" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field ad_postcode required">
            <label class="label" for="ad_postcode"><span><?php /* @escapeNotVerified */ echo __('ZIP') ?></span></label>
            <div class="control">
                <input name="ad_postcode" id="ad_postcode" title="<?php /* @escapeNotVerified */ echo __('ZIP') ?>" class="input-text" type="email" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field ad_ort required">
            <label class="label" for="ad_ort"><span><?php /* @escapeNotVerified */ echo __('Location') ?></span></label>
            <div class="control">
                <input name="ad_ort" id="ad_ort" title="<?php /* @escapeNotVerified */ echo __('Location') ?>" class="input-text" type="email" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field ad_telephone required">
            <label class="label" for="ad_telephone"><span><?php /* @escapeNotVerified */ echo __('Phone Number') ?></span></label>
            <div class="control">
                <input name="ad_telephone" id="ad_telephone" title="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>" value="" class="input-text" type="text" data-validate="{required:true}" />
            </div>
        </div>
        <div class="field ad_email required">
            <label class="label" for="ad_email"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
            <div class="control">
                <input name="ad_email" id="ad_email" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
            </div>
        </div>

        <div class="field comment required">
            <label class="label" for="comment"><span><?php /* @escapeNotVerified */ echo __('Bemerkungen') ?></span></label>
            <div class="control">
                <textarea name="comment" id="comment" title="<?php /* @escapeNotVerified */ echo __('Bemerkungen') ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"></textarea>
            </div>
        </div>
         <?php
            if ($this->getData('cc_enable_recaptcha')) {
                ?>
        <div class="field comment required">
            <label class="label" for="captcha"><span><?php /* @escapeNotVerified */ echo __('ReCaptcha') ?></span></label>
            <div class="control">
                <script src="https://www.google.com/recaptcha/api.js"></script>
                <div class="g-recaptcha" data-sitekey="<?php echo $captchaSitekey;?>" data-theme="<?php echo $captchaTheme; ?>"></div>
            </div>
        </div>       
        <?php } ?>
        
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <input type="hidden" name="currUrl" id="currUrl" value="<?php echo $currPageUrl; ?>" />
            <input type="hidden" name="enablerecaptcha" id="currUrl" value="<?php echo $this->getData('cc_enable_recaptcha'); ?>" />
            <button type="submit" title="<?php /* @escapeNotVerified */ echo __('Submit') ?>" class="action submit primary">
                <span><?php /* @escapeNotVerified */ echo __('Submit') ?></span>
            </button>
        </div>
    </div>
</form>
<?php 
}
?>


