<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Top menu for store
 *
 * @var $block \PLG\Topmenu\Block\Html\Topmenu
 */
?>
<?php $_menu = $block->getHtml() ?>
<div class="site-navigation">
    <div class="site-navigation_items">
        <?php /* @escapeNotVerified */ echo $_menu; ?>
        <?php /* @escapeNotVerified */ echo $block->getChildHtml(); ?>
    </div>
</div>
