<?php
/**
 * Created by PhpStorm.
 * User: avolodin
 * Date: 02.05.17
 * Time: 19:20
 *
 * @var $block PLG\CMS\Block\CAttrDropDown
 *
 */
if($block->getAttribute() && !empty($block->getProduct()->getData($block->getAttributeCode()))):
$_attributeLabel = $block->getAttributeLabel();
$_className = $block->getClassName();

$_attributeValue = $block->getAttributeValue();
$_attributeAddAttribute = $block->getAttributeAddAttribute();
$options = $block->getAttribute()->getSource()->getAllOptions();
$key = array_search($_attributeValue, array_column($options, 'label'));
?>


<div class="swatch-opt" data-role="swatch-options">
    <div class="swatch-attribute <?php /* @escapeNotVerified */ echo $_className?>" >
        <?php if ($_attributeLabel != 'none'): ?>
        <span class="swatch-attribute-label"><?php /* @escapeNotVerified */ echo $_attributeLabel?></span>
        <?php endif; ?>
<!--        <span class="swatch-attribute-selected-option">2</span>-->
        <div class="swatch-attribute-options clearfix" style="height: 0px;overflow: hidden;margin: 0;">
            <?php foreach ($options as $oKey => $option):?>
                <?php if(!empty($option['label']) && !empty($option['value'])): ?>
                <div class="swatch-option text<?=$oKey==$key?' selected':''?>" option-id="<?=$option['value']?>" option-label="<?=$option['label']?>" option-tooltip-thumb="" option-tooltip-value="<?=$option['label']?>">
                    <?=$option['label']?>
                </div>
                <?php endif; ?>
            <?php endforeach; ?>
        </div>
        <input class="swatch-input super-attribute-select" aria-required="true" aria-invalid="true" style="visibility: hidden; position:absolute; left:-1000px" />
    </div>
</div>


<script>
    require(["jquery","product_slider"], function($){
        $(document).ready(function() {

        var intensitat = $(".intensitat");
        if(intensitat.length && !intensitat.is('.slide-active')) {
            var input = intensitat.find('.swatch-input');
            intensitat.find('.swatch-attribute-options').css({height:0,overflow:'hidden',margin:0});
            var valueMapping = {};
            var idMapping = {};
            var ticks = [];
            var labels = [];
            intensitat.find('.swatch-option').each(function(){
                var id = $(this).attr('option-id');
                var value = $(this).attr('option-label');
                valueMapping[id]=value;
                idMapping[value]=id;
                ticks.push(id);
                labels.push(value)
            });
            var currentLabel = <?=$_attributeValue?>;
            var currentValue = idMapping[currentLabel];
            var valBox = $('<div>').addClass('p_slider-value').text(currentLabel);

            input.bootstrapSlider({
                ticks: ticks,
                ticks_labels: labels,
                value: currentValue,
                step: 1,
                tooltip: 'hide',
                enabled:false
                <?=$block->getATSlideDisable()?',enabled:false':''?>
            });

            input.before(valBox);
            intensitat.addClass('slide-active');

            // $("#p_slider").slider();
            input.on("slide", function (slideEvt) {
                valBox.text(valueMapping[slideEvt.value]);

            });
        }

        });
    });
</script>

<?php endif; ?>