<?php
/**
 * Created by PhpStorm.
 * User: avolodin
 * Date: 02.05.17
 * Time: 19:20
 *
 * @var $block PLG\CMS\Block\CAttrDropDown
 *
 */


$_attributeLabel = $block->getAttributeLabel();
$_className = $block->getClassName();

$_attributeValue = $block->getAttributeValue();
$_attributeAddAttribute = $block->getAttributeAddAttribute();
//$options = $_attribute->getSource()->getAllOptions();
//$key = array_search($labelValue, array_column($options, 'label'));
?>


<?php if ($_attributeValue): ?>
    <div class="product attribute <?php /* @escapeNotVerified */ echo $_className?>">
        <?php if ($_attributeLabel != 'none'): ?><strong class="type"><?php /* @escapeNotVerified */ echo $_attributeLabel?></strong><?php endif; ?>
        <div class="value" <?php /* @escapeNotVerified */ echo $_attributeAddAttribute;?>><?php /* @escapeNotVerified */ echo $_attributeValue; ?></div>
    </div>
<?php endif; ?>

