<?php
/**
 * Created by PhpStorm.
 * User: avolodin
 * Date: 02.05.17
 * Time: 19:20
 *
 * @var $block PLG\CMS\Block\CAttrDropDown
 *
 */

if($block->getAttribute() && !empty($block->getProduct()->getData($block->getAttributeCode()))):
$_attributeLabel = $block->getAttributeLabel();
$_className = $block->getClassName();

$_attributeValue = $block->getAttributeValue();
$_attributeAddAttribute = $block->getAttributeAddAttribute();
$options = $block->getAttribute()->getSource()->getAllOptions();
$key = array_search($_attributeValue, array_column($options, 'label'));
$current = $options[$key];
?>


<div class="swatch-opt" data-role="swatch-options">
    <div class="swatch-attribute <?php /* @escapeNotVerified */ echo $_className?>" >
        <?php if ($_attributeLabel != 'none'): ?>
        <span class="swatch-attribute-label"><?php /* @escapeNotVerified */ echo $_attributeLabel?></span>
        <?php endif; ?>
<!--        <span class="swatch-attribute-selected-option">2</span>-->
        <div class="swatch-attribute-options clearfix" option-current="<?=$key?>">
            <?php foreach ($options as $oKey => $option):?>
                <?php if(!empty($option['label']) && !empty($option['value'])): ?>
                <div class="swatch-option text <?=strpos($current['label'],$option['label'])!==false?' selected':strpos($key,$oKey)?><?=strpos($option['label'],',')!==false?' hide':''?>" option-id="<?=$oKey?>">
                    <?=$option['label']?>
                </div>
                <?php endif; ?>
            <?php endforeach; ?>
        </div>
    </div>
</div>
<?php endif; ?>