<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<div class="logo-box">
<?php $storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();?>

    <a href="<?php echo $block->getUrl(''); ?>" title="<?php /* @escapeNotVerified */ echo $storeName ?>">

        <img src="<?php /* @escapeNotVerified */ echo $block->getLogoSrc() ?>"
             alt="<?php /* @escapeNotVerified */ echo $block->getLogoAlt() ?>"
        />
        <div class="logo-box_text">
            Der Gastronomie Shop
        </div>

    </a>
</div>

<span id="mob-menu"></span>
