<?
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_urlHelper = $this->helper('\Magento\Framework\Url\Helper\Data');


?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())): ?>
    <?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $items = $block->getProductCollection()->getItems();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $description = false;
    ?>
    <div class="products wrapper site-content_grid">
        <?php $iterator = 1; ?>
        <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
        <?php foreach ($items as $_product): ?>
            <div class="content-grid_item" data-container="product-grid">
                <?php // Product Image ?>
                <div class="grid-item_image">
                    <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                        <?php echo $block->getImage($_product, $image)->toHtml(); ?>
                    </a>
                </div>

                <div class="grid-item_info">
                    <?php
                    $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                    ?>
                    <span class="item-info_heading">
                        <a class="transition"
                           href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                            <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                        </a>
                    </span>
                    <span class="item-info_text">
                        <?php echo str_replace('%',$_product->getMinVal(), $_product->getContent()); ?>
                    </span>
                    <div class="item-info_price">
                        <span class="info-price_cost">
                            <?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
                            <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
                            <?php echo $block->getProductDetailsHtml($_product); ?>
                        </span>
                        <?php if ($_product->isSaleable()): ?>
                            <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                            <?php $url = $block->getAddToCartUrl($_product);?>
                            <?php $postParams = [
                                'action' => $url,
                                'data' => [
                                    'product' => $_product->getEntityId(),
                                    \Magento\Framework\App\ActionInterface::PARAM_NAME_URL_ENCODED =>
                                        $_urlHelper->getEncodedUrl($url),
                                ]
                            ];
                            ?>
                            <form class="addtocart_form" data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                <input type="hidden" name="<?php /* @escapeNotVerified */ echo \Magento\Backend\App\Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][\Magento\Backend\App\Action::PARAM_NAME_URL_ENCODED]; ?>">
                                <?php echo $block->getBlockHtml('formkey')?>
                                <?php if($_product->getTypeId() != 'grouped'): ?>
                                    <?php $min_val = $this->getMinimalQty($_product)?$this->getMinimalQty($_product):1;?>
                                    <div class="field qty">
                                        <label class="label" for="qty_<?=$_product->getId()?>" style="display: none;"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label>
                                        <div class="control">
                                            <input type="number"
                                                   name="qty"
                                                   id="qty_<?=$_product->getId()?>"
                                                   maxlength="12"
                                                   data-template="<?php echo $_product->getData('content')?>"
                                                   data-step="<?php echo $_product->getData('min_val')?>"
                                                   value="<?php /* @escapeNotVerified */ echo $min_val ?>"
                                                   title="<?php /* @escapeNotVerified */ echo __('Qty') ?>"
                                                   class="input-text qty qty_select2"
                                                   data-validate="<?php echo $block->escapeHtml(json_encode(['required-number'=>true])) ?>"
                                            />
                                        </div>
                                    </div>
                                <?php endif; ?>
                                <button type="submit"
                                        title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                        class="action tocart primary custom_add">
                                    <!--<span><?php /* @escapeNotVerified  echo __('Add to Cart') */?></span>-->
                                </button>
                            </form>
                        <?php else: ?>
                            <a href="<?php echo $block->getUrl('registrieren');?>" class="info-price_addtocart"></a>
                        <?php endif; ?>
                    </div>
                </div>

            </div>
            <?php if($iterator % 3 == 0): ?>
                <div class="clearfix"></div>
            <?php endif; ?>
            <?php $iterator++;?>
        <?php endforeach; ?>

        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <?php echo $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif;?>
