<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php if ($crumbs && is_array($crumbs)) : ?>
    <div class="site-breadcrumbs">
        <div class="site-breadcrumbs_wrapper">
            <ul style="margin: 0;">
                <?php foreach ($crumbs as $crumbName => $crumbInfo) : ?>
                    <li class="<?=$crumbInfo['last']?'active':''?> <?php /* @escapeNotVerified */ echo $crumbName ?>"  style="margin: 0;">
                        <?php if ($crumbInfo['link']) : ?>
                            <a class="transition" href="<?php /* @escapeNotVerified */ echo $crumbInfo['link'] ?>" title="<?php echo $block->escapeHtml($crumbInfo['title']) ?>">
                                <?php echo $block->escapeHtml($crumbInfo['label']) ?>
                            </a>
                        <?php elseif ($crumbInfo['last']) : ?>
                            <a class="transition" title="<?php echo $block->escapeHtml($crumbInfo['title']) ?>">
                                <?php echo $block->escapeHtml($crumbInfo['label']) ?>
                            </a>
                        <?php else: ?>
                            <?php echo $block->escapeHtml($crumbInfo['label']) ?>
                        <?php endif; ?>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
    </div>
<?php endif; ?>
