<?php
/**
 * Created by PhpStorm.
 * User: avolodin
 * Date: 02.05.17
 * Time: 19:20
 *
 * @var $block PLG\CMS\Block\CText
 *
 */
/**
 * @var $block PLG\Banners\Block\Banner
 */

if($block->getCurrentBanner()) {
    $banner = $block->getCurrentBanner();
    $link = $banner->getUrl()?'<a href="'.$banner->getUrl().'"></a>':'';
    echo
    "<div class=\"site-content_banner pinned\" style=\"width: 250px; background-image: url(".$banner->getImageUrl()."); \">
        ".$link."
    </div>";
}
