<?php
/**
 * Top menu for store
 *
 * @var $block \PLG\CMS\Block\CIBrands
 */
/**
 * @var $block \PLG\CMS\Block\CIBrands
 */

$categories = [];
$_categoryCollection = $block->CategoryCollection();
foreach($_categoryCollection as $category) {
    if($category->getLevel() == 3){
        $categories[$category->getUrlKey()] = $category;
    }
}
?>
<ul class="brand-ul">
    <?php foreach($categories as $category):?>
        <li>
            <a href="<?php echo $block->getUrl($category->getUrlKey());?>">
                <span class="brand <?php echo $category->getUrlKey();?> white" style="display: block; width: 100%; height: 100%;"></span>
            </a>
        </li>
    <?php endforeach; ?>
</ul>